<br>
<div class="container">
    <h3><b>Create New Room</b></h3>

    <form action="createRoom" method="post">
        <div class="form-row">
            <div class="col-md-5">
                <hr>
                <div class="form-group">
                    <label for="firstName">Room Name</label>
                    <input type="text" class="form-control" id="firstName" name="roomName" required>
                </div>
                <div class="form-group">
                    <label for="email">Admin Email IDs</label>
                    <input type="email" disabled class="form-control" id="email" name="adminEmail"
                        onfocus="setMultipleIdAccept(this)">
                </div>
                <div class="form-group">
                    <label for="email">Participants Email ID's</label>
                    <input type="email" class="form-control" id="email" name="participantEmail"
                        onfocus="setMultipleIdAccept(this)">
                    <br>
                    <button type="submit" id="submitButton" class="btn btn-success">Create</button>
                </div>
            </div>
            <div class="col-md-5"></div>
            <div class="col-md-2"></div>
        </div>
        {{{message}}}
    </form>
</div>