<div class="container">
    <br>
    <div id="video-grid">

    </div>
</div>


<script defer>
    const roomID = "{{roomID}}"
    const userID = "{{userID}}"
</script>
<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/assets/script/vcAppChatRoom.js" defer></script>