<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <br />
    <br />
    <div class="container">
      <div class="row">
        <div
          class="card text-center form-card shadow p-3 mb-5 bg-white rounded"
          style="width: 35rem; height: auto !important;"
        >
          <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
          <div class="card-body text-center">
            <h2 class="card-title form-title" style="text-align: center;">
              Create Account
            </h2>
            <hr />
            <br />
            <form action="/user/register" method="POST">
              <input
                name="firstName"
                type="text"
                class="form-control rounded-pill txt-bx text-center"
                placeholder="First Name"
                required=""
              /><br />
              <input
                class="form-control rounded-pill txt-bx text-center"
                type="text"
                name="lastName"
                placeholder="Last Name"
              /><br />
              <input
                class="form-control rounded-pill txt-bx text-center"
                type="tel"
                name="contactNumber"
                placeholder="Contact Number"
                inputmode="tel"
              />
              <br />
              <input
                id="password"
                class="form-control rounded-pill txt-bx text-center"
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <br />
              <input
                id="confirm_password"
                class="form-control rounded-pill txt-bx text-center"
                type="password"
                name="confirmPassword"
                placeholder="Confirm Password"
                required=""
              />
              <br />
              <input
                class="form-control rounded-pill txt-bx text-center"
                type="email"
                name="email"
                readonly=""
                value="{{mail}}"
                inputmode="email"
              />
              <br />
              <input
                class="form-control rounded-pill txt-bx text-center"
                type="text"
                name="otp"
                readonly=""
                value="{{otp}}"
                inputmode="none"
              />
              <br />
              <button
                type="submit"
                class="form-control submit-btn btn btn-outline-primary rounded-pill"
                value="submit"
              >
                Create Account
              </button>
            </form>
            <br />
          </div>
        </div>
      </div>
    </div>
    <script src="/script/register.js"></script>
  </body>
</html>
