<!DOCTYPE html>
<html lang="en">

<head>
  <title>Reset Password</title>
  <link rel="stylesheet" href="/assets/css/reset_password.css" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
  <br />
  <br />
  <div class="container">
    <div class="row">
      <div class="card text-center form-card shadow p-3 mb-5 bg-white rounded"
        style="width: 35rem; height: auto !important;">
        <i class="fa fa-check-circle fa-5x" aria-hidden="true"></i>
        <div class="card-body text-center">
          <h2 class="card-title form-title" style="text-align: center;">
            Reset Password
          </h2>
          <hr />
          <br />
          <form action="/user/verify-reset" method="POST">
            <input id="password" class="form-control rounded-pill txt-bx text-center" type="password" name="password"
              placeholder="Password" required="" />
            <br />
            <input id="confirm_password" class="form-control rounded-pill txt-bx text-center" type="password"
              name="confirmPassword" placeholder="Confirm Password" required="" />
            <br />
            <input class="form-control rounded-pill txt-bx text-center" type="email" name="email" readonly=""
              value="{{mail}}" inputmode="email" />
            <br />
            <input class="form-control rounded-pill txt-bx text-center" type="text" name="otp" readonly=""
              value="{{otp}}" inputmode="none" />
            <br />
            <button type="submit" id="submit_btn" class="form-control submit-btn btn btn-outline-primary rounded-pill"
              value="submit">
              Change Password
            </button>
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>
  <script src="/assets/script/register.js"></script>
</body>

</html>